{% extends 'base.html' %}

{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

<!-- HOME BUTTON -->
<!-- <div class="mb-3">
    <a href="{% url 'blog:post_list' %}" class="btn btn-dark">
        ⬅ Home
    </a>
</div> -->

<link rel="stylesheet" href="{% static 'css/form.css' %}">

<div class="form-card" style="background-color: rgba(250, 235, 215, 0.718);">

    <h1 class="form-heading">
        ✍️ Create New Blog Post
    </h1>

    <p class="form-subtitle" style="text-align: left;">
        Share your ideas, stories, and knowledge with the community.
    </p>
    

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-actions">

            <button type="submit" class="btn submit-btn">
                🚀 Publish Post
            </button>

            <a href="{% url 'blog:post_list' %}" class="btn btn-warning" style="text-align: center;">
               ❌ Cancel
            </a>

        </div>

    </form>

</div>

{% endblock %}