{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}

{% block content %}

<div class="hero-section text-center py-5 mb-5">
    <h3 class="display-4 fw-bold" style="text-shadow: 3px 3px 10px rgba(0,0,0,0.25);
           letter-spacing: 1px;">
        Welcome to BlogSphere
    </h3>
    <p class="lead" style="text-shadow: 3px 3px 10px rgba(0,0,0,0.25);
           letter-spacing: 1px;">
        Share your ideas, inspire readers, and build your online presence.....
    </p>

    <a href="{% url 'blog:create_post' %}" class="btn btn-light btn-lg mt-3">
        Start Writing
    </a>
</div>

<div class="posts-header d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold" style="text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
           letter-spacing: 1px; color: #0d55fd;">All Blog Posts</h1>
  

    <form method="GET" class="d-flex">
        <input type="text" name="q" class="form-control me-2" placeholder="Search posts..." value="{{ query }}">
        <button class="btn btn-primary">Search</button>
    </form>
</div>

{% for post in posts %}
<div class="card mb-4 post-card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h4 class="card-title mb-0">{{ post.title }}</h4>
            <span class="badge bg-secondary">
                {{ post.created_at|date:"d M Y" }}
            </span>
        </div>

        <p class="text-muted mb-2">
            By <a href="{% url 'accounts:profile' post.author.username %}">
                {{ post.author.username }}
            </a>
        </p>

        <p>
            <span class="badge bg-info text-dark">{{ post.category }}</span>
        </p>

        <p>❤️ {{ post.likes.count }} Likes</p>

        <p>{{ post.content|truncatewords:25 }}</p>

        <a href="{% url 'blog:post_detail' post.id %}" class="btn read-more-btn">
            Read More →
        </a>
    </div>
</div>
{% empty %}
<div class="alert alert-info text-center">
    No posts found.
</div>
{% endfor %}

<div class="d-flex justify-content-center mt-4">
    {% if posts.has_previous %}
    <a class="btn btn-primary me-2" href="?q={{ query }}&page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>

    {% if posts.has_next %}
    <a class="btn btn-primary ms-2" href="?q={{ query }}&page={{ posts.next_page_number }}">Next</a>
    {% endif %}
</div>

{% endblock %}